
  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster+Two:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html::-webkit-scrollbar {
    background-color: transparent;
    width: 0.6rem;
  }
   

html,body{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color:#27272a;
    height: 100vh;
    width: 100vw;
}

.nav-container{
    display: flex;
    background-color: #1A1A1D;
    color: white;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    width: 100vw;
}
.left{
    font-family: 'Abril Fatface', cursive;
    font-weight: 900;
    font-size: 35px;

}
.right{
    display: flex;
    align-items: center;
}

.right ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    
}

.right ul li{
    justify-content: space-between;
    margin: 0 5px;
    border-radius: 4px;
    font-weight: 600;
    padding: 20px;
    cursor:pointer; 
}
.right ul i{
    margin: 10px;
}

.container{
   width: 100vw;
  height: 400px;
  display: flex;
  /* position: relative; */
  
}
.container img{
    display: block;
  
}

.image-container1{
    height: 400px;
    width: 33.333vw;
}
.image-container2{
    height: 400px;
    width: 33.333vw;
}.image-container3{
    height: 400px;
    width: 33.333vw;
}
.monuments,.tajmahal{
   height: 400px;
   width: 33.33333vw;
   margin: 0;
   object-fit: cover;
   object-position: center;
   position: relative;
   overflow: hidden;
   /* display: block; */
   

}

.food{
    margin: 0;
    height: 400px;
   width: 33.3333vw;
    
    object-fit: cover;
    object-position: center;
    position: relative;
   /* display: block; */
    opacity: 0.9;
   
    
   
}
.festival {
    margin: 0;
    height: 400px;
   width: 33.33333vw;
    vertical-align:left;
    object-fit: cover;
    object-position: center;
    position: relative;
    overflow: hidden;
    
}

.image-container2 h1 {
    position: relative;
    bottom: 10%;
    text-align: center;
    left: 50%;
    /* font-family: 'Abril Fatface', cursive; */
font-family: 'Lobster Two', cursive;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.3); 
    box-shadow: -webkit-box-shadow: 10px 2px 61px 43px rgba(0,0,0,0.65);
    -moz-box-shadow: 10px 2px 61px 43px rgba(0,0,0,0.65);
    box-shadow: 10px 2px 61px 43px rgba(0,0,0,0.65);;
    font-weight: 900;
   font-size: 50px;
    color: yellow;
    width: auto;
    backdrop-filter: blur(1px);

    padding: 10px;
    margin: 0;
}

.second-section h1{
     color: white;
     font-size: 30px;
    font-weight: 900;
    margin-top: 30px;
}
.second-section h2{
    color: #84cc16;
    font-weight: 800    ;
    font-size: 20px;
    font-family: 'Abril Fatface', cursive;
}

.services{
    background-color: #27272a;
    width: 95vw;
    height: 70vh;
    margin: 25px;
   display: flex;
    justify-content: center;
  gap:20px;

}

.services .cards1,.cards2,.cards3,.cards4{
    border-radius: 10px;
    margin: 10px;
    height: 360px;
    width: 250px;
    background-color: #3f3f46;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

 
   
    
    border: 2px solid #3f3f46;
    -webkit-box-shadow: 10px 6px 119px -17px rgba(0,0,0,0.63);
-moz-box-shadow: 10px 6px 119px -17px rgba(0,0,0,0.63);
box-shadow: 10px 6px 119px -17px rgba(0,0,0,0.63);
   
}

.services .cards1 img{
    height: 75%;
    margin: 20px 0px;
    background-color: #52525b;
    border: 2px solid #52525b;
    padding: 10px 2px;
    border-radius: 10px;
   
   
}

.services .cards2 img{
    height: 75%;
    margin: 20px 0px;
    background-color: #52525b;
    border: 2px solid #52525b;
    padding: 10px 2px;
    border-radius: 10px;
   
}

.services .cards3 img{
    height: 70%;
    margin: 20px 0px;
    background-color: #52525b;
    border: 2px solid #52525b;
    padding: 10px 5px;
    border-radius: 10px;
   
}

.services .cards4 img{
    height: 70%;
    margin: 20px 0px;
    background-color: #52525b;
    border: 2px solid #52525b;
    padding: 10px 4px;
    border-radius: 10px;
   
}
.services .cards1 h3{
    color: white;
    margin: 5px;
    font-weight: 800;
    text-align: center;
    padding: 0px 20px;
    
    font-size: 15px;
    
}
.services .cards2 h3{
    color: white;
    margin: 5px;
    text-align: center;
     padding: 0px 20px;
    font-size: 15px;
    font-weight: 800;

}
.services .cards3 h3{
    color: white;
    margin: 5px;
    text-align: center;
     padding: 0px 20px;
    font-size: 15px;
    font-weight: 800;
}
.services .cards4 h3{
    color: white;
    margin: 5px;
    text-align: center;
     padding: 0px 20px;
    font-size: 15px;
    font-weight: 800;
}

.services .cards1 p{
    font-size: 13px;
    color: white;
    margin: 5px;
    margin-bottom: 8px;
    padding: 7px 7px;
    text-align: center;
    background-color:  #52525b;
    border-radius: 4px;
    border: 2px solid #52525b;

}
.services .cards2 p{
    font-size: 13px;
    color: white;
    margin: 5px;
    margin-bottom: 8px;

    padding: 7px 7px;
    text-align: center;
     background-color:  #52525b;
    border-radius: 4px;
    border: 2px solid #52525b;

}.services .cards3 p{
    font-size: 13px;
    color: white;
    margin: 5px;
    margin-bottom: 8px;

    padding: 7px 7px;
    text-align: center;
     background-color:  #52525b;
    border-radius: 4px;
    border: 2px solid #52525b;

}.services .cards4 p{
    font-size: 13px;
    color: white;
    margin: 5px;
    margin-bottom: 8px;

    padding: 7px 7px;
    text-align: center;
     background-color:  #52525b;
    border-radius: 4px;
    border: 2px solid #52525b;
}
.Plan-trip{
    margin: 30px;
    width: 95vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    position: relative;
}
.Plan-trip .text-part{
    display: flex;
    flex-direction: column;
    align-items:start;
    margin: 10px 50px;
    gap: 30px;
    height: auto;
    width: auto;
}
.Plan-trip .text-part h1{
    color: #a3e635;
    font-size: 40px;
    font-weight: 800    ;
    margin-top: 0px;
}
.Plan-trip .text-part span{
margin-right: 80px;
position: relative;
}
.Plan-trip .text-part p{
    color: #CCCCCC;
    font-size: 15px;
    font-weight: 500 ;
    width: 400px;
    display: inline-block;
    /* background-color: #52525b; */
}
.Plan-trip .text-part .fa-fire {
  font-size: 40px;
   
    position: relative;
    top: 0%;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 20px ;
  

    color: #FFA500;
}
.Plan-trip .text-part .para1{
    margin-top: 10px;
}

.Plan-trip .text-part button{
    width: 400px;
    height: 40px;
    margin-top: 17px;
    font-size: 15px;
    color: red;
    font-weight: 800;
    padding: 10px 0px;
}

.Plan-trip .image-part img{
    height: 80%;
    width: 500px;
    background-color: #52525b;
    object-fit: cover;
    object-position: center;
    padding: 20px;
    margin: 10px 20px;
    border-radius: 10px;
}
.Plan-trip .image-part i{
    font-size: 20px;
    margin: 10px;
}